<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>81A5420C-2E4D-4A63-9BD1-473A7A849FC7</key>
	<dict>
		<key>partialPath</key>
		<string></string>
		<key>policySearch</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
